/*--------------------------------------------------------------------------------*/
/*------------------             AUTRE (Corentin)             --------------------*/
/*--------------------------------------------------------------------------------*/
/*------------------Global-----------------------*/
.cShadowed{
    box-shadow: 0px 3px 6px 0px #D8D8D8;
}

.cRounded{
    border-radius:17px;
}
/*-----------------------Couleurs----------------*/
.cYnovGreen{
    background-color:#00B297;
}

.cYnovGreen:hover{
    background-color:#00DDBC;
}

.cYnovPurple{
    background-color:#CA4572;
}

.cYnovPurple:hover{
    background-color:#DD86A5;
}

.cTomatoRed{
    background-color:#EC4747;
}

.cTomatoRed:hover{
    background-color:#F17C7C;
}

/*--------------------Bouton--------------------*/
.cButton{
    padding:0.5vw 1vw;
    color:white;
    font-size: 1.1vw;
    transition-property: background-color;
    transition-duration: 0.2s;
}

.cButtonRowContainer{
    position:absolute;
    display: flex;
    flex-direction: row;
    bottom:-1.5vw;
    right:0;
    padding:0 0.35vw;
}

.cButtonRowContainer>*{
    margin:0 0.35vw;
}

/*------------------Bouton rond------------------*/
.cRoundButton{
    display:flex;
    align-items: center;
    justify-content: center;
    width:3vw;
    height:3vw;
    border-radius:1.5vw;
    transition-property: background-color;
    transition-duration: 0.2s;
}

.cRoundButton:hover{
    cursor: pointer;
}

.cRoundButton svg{
    width:30%;
    height:30%;
}

.cRoundButtonTopRight{
    position:absolute;
    top:-1.5vw;
    right:-1.5vw;
}

@media all and (max-width: 768px){
    .cRoundButton{
        width:6vw;
        height:6vw;
        border-radius:3vw;
    }

    .cButton{
        font-size: 2vw;
        padding:1vw 2vw;
    }
}

/*--------------------------------------------------------------------------------*/
/*------------------           PROJECT DASHBOARD              --------------------*/
/*--------------------------------------------------------------------------------*/

/*Font family */
*{
    font-family: "Century Gothic";
}

/*Partie englobante*/
#cDashboardContainerProjectDashboard{
    background-color:#F6F6F6;
    padding:3vw;
    margin-left : 200px;
}

#cDashboardContainerProjectDashboard h1{
    font-size: 2.3vw;
}

#cDashboardContainerProjectDashboard h2{
    font-size: 2vw;
}

#cDashboardContainerProjectDashboard p{
    font-size: 1.1vw;
}

#cDashboardContainerProjectDashboard button{
    border:none;
}

/*Partie haute*/
#cTopProjectDashboard{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

/*Infos haut gauche*/
#cTopLeftProjectDashboard{

}

/*Titre projet*/
#cTitleProjectBlockProjectDashboard{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position:relative;
}

#cTitleProjectBlockProjectDashboard h1{
    margin:0;
    color:#6B6B6B;
}



/*Menu hamburger*/
.cHamMenuProjectDashboard{
    position:relative;
    z-index:100;
}

.cHamMenuProjectDashboard svg{
    width:2vw;
    height:2vw;
}

/*Menu caché*/
.cDropdownMenuProjectDashboard{
    visibility:hidden;
    position:absolute;
    top:100%;
    right:0;
    width:160px;
    display: flex;
    flex-direction: column;
}

.cDropdownMenuProjectDashboard a{
    text-decoration: none;
    color:white;
    padding:10px;
}

/*Bloc image et ses composant du projet*/
#cBlockImageProjectDashboard{
    position:relative;
}

/*Conteneur image du projet*/
#cImageContainerProjectDashboard{
    width:100%;
    height:20vw;
    display:flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin:3vw 0;
}

#cImageContainerProjectDashboard img{
    width:100%;
    height:auto;
}

#cImageInputProjectDashboard{
    opacity: 0;
    position:absolute;
    z-index:-1;
}

/*Block milieu avec description et membres*/
#cMidProjectDashboard{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/*Block membres*/
#cMembersProjectDashboard{
    position:relative;
    display:flex;
    flex-direction: column;
    padding:20px;
    margin-right:3vw;
    width:22vw;
    background-color:white;
}

/*Une partie dans la liste de membres*/
.cOnePartListMemberProjectDashboard{
    margin-bottom:1vw;
}

.cOnePartListMemberProjectDashboard>p{
    margin:0;
}

.cOnePartListMemberProjectDashboard>p:not(:first-child){
    color:#A8A8A8;
}

/*Description projet*/
#cDescProjetDashboard{
    position:relative;
    padding:20px;
    width:100%;
    background-color:white;
}

/*Block titre partie commentaire*/
#cCommentTitleBlockProjectDashboard{
    margin-top:100px;
    display:flex;
    flex-direction: row;
    align-items: center;
}

#cCommentTitleBlockProjectDashboard>h2{
    margin:0 50px 0 0;
    display:inline;
    color:#95989A;
}

/*Bloc tous les commentaires*/
#cAllCommentsProjectDashboard{
    display:flex;
    flex-direction: column;
    width:100%;
    margin-top: 40px;
}



/*Bloc un commentaire et ses réponses*/
.cBlockOneCommentProjectDashboard{
    display:flex;
    flex-direction: column;
    width:100%;
    height:auto;
}

/*Un commentaire*/
.cOneCommentProjectDashboard{
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    width:100%;
    margin:1vw 0;
}

/*Block Input caché ajout commentaire*/
.cBlockHiddenInputCommentProjectDashboard{
    display:none;
}

/*Conteneur input caché ajout commentaire*/
.cInputAddCommentProjectDashboard{
    padding:1vw 1vw 1vw 4vw;
}

/*TextArea caché ajout commentaire*/
.cTextAreaAddCommentProjectDashboard{
    width:100%;
    height:6vw;
    border:none;
    font-size:1.1vw;
    resize:vertical;
}

/*Image profil commentaire*/
.cProfilImageProjectDashboard{
    z-index: 2;
    height:5vw;
    width:5vw;
    border-radius:2.5vw;
    margin-right: -2.7vw;
}

/*Conteneur fleche et texte*/
.cContainerSquareAndTextCommentProjectDashboard{
    position:relative;
    z-index: 1;
    width:100%;
    background-color:white;
}

/*texte commentaire*/
.cContainerSquareAndTextCommentProjectDashboard>p{
    padding:15px;
    margin-left:4vw;
}

/*Fleche*/
.cArrowCommentProjectDashboard{
    position:absolute;
    top:1vw;
    left:-0.60vw;
    background-color:white;
    box-shadow: -4px 4px 15px 0px rgba(143,143,143,1);
    width:1.5vw;
    height:1.5vw;
    transform: rotate(45deg);
}

/*Block réponses d'un commentaire*/
.cBlockAnswerOneCommentProjectDashboard{
    display : flex;
    flex-direction: row;
    height:100%;
}

/*Ligne grise à gauche des réponses (Compléter par du JS)*/
.cLeftBarProjectDashboard{
    width:5px;
    background-color: #D1D1D1;
    margin:0 3vw 0 2.5vw;
}

/*Block toutes les réponses d'un commentaire*/
.cAllAnswersToOneCommentProjectDashboard{
    display : flex;
    flex-direction: column;
    width:100%;
}

/*Une réponse*/
.cOneAnswerProjectDashboard>p{

}


@media all and (max-width: 768px){
    #cDashboardContainerProjectDashboard{
        margin-left : 0;
    }

    #cDashboardContainerProjectDashboard p{
        font-size: 2vw;
    }

    #cDashboardContainerProjectDashboard h1{
        font-size: 4.6vw;
    }

    #cDashboardContainerProjectDashboard h2{
        font-size: 4vw;
    }

    .cHamMenuProjectDashboard>svg {
        width:4vw;
        height:4vw;
    }

    #cImageContainerProjectDashboard{
        height:35vw;
    }

    #cMidProjectDashboard{
        flex-direction: column;
    }

    #cMembersProjectDashboard{
        margin-right:0;
        margin-bottom:3vw;
        width:100%;
        flex-direction:row;
        justify-content: space-evenly;
    }

    .cProfilImageProjectDashboard{
        width:10vw;
        height:10vw;
        border-radius:5vw;
    }
}

/*--------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------*/
/*------------------           LISTE ETUDIANT             --------------------*/
/*--------------------------------------------------------------------------------*/

#cBodyStudentList{
    background-color:#F6F6F6;
}

#cGlobalContainerStudentList {
    margin-left: 200px;
    background-color:#F6F6F6;
    padding:0 3vw 3vw 3vw;
}

#cGlobalContainerStudentList p {
    font-size: 1.1vw;
}

#cGlobalContainerStudentList h1 {
    font-size: 2.3vw;
}

#cGlobalContainerStudentList h2 {
    font-size: 1.3vw;
    margin:0;
    color:#5D5D5D;
}

#cGlobalContainerStudentList h3 {
    font-size: 1.3vw;
    margin:0;
    color:#5D5D5D;
}

/*block barre de recherche*/
.cSearchBarStudentList{
    display: flex;
    flex-direction: row;
    width:100%;
    border-radius:0 0 17px 17px;
    background-color:white;
    padding:1vw;
    margin-bottom:3vw;
}

.cSearchBarStudentList svg{
    height:1.5vw;
    width:1.5vw;
    margin-right:1vw;
}

.cSearchBarStudentList input{
    width:100%;
    border-width: 0 0 1px 0;
    border-color:#A8A8A8;
    font-size:1.1vw;
}

/*Block avec toutes la liste d'étudiants*/
#cBlockStudentList{
    display:flex;
    flex-direction:column;
    width:100%;
}

/*Block d'une promo avec sa barre et ses étudiants*/
.cStudentClassBlockStudentList{
    display:flex;
    flex-direction:column;
}

/*Barre d'une promo*/
.cStudentClassBarStudentList{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    padding:0.7vw;
    background-color:white;
    margin: 1vw 0;
}

.cStudentClassBarStudentList:hover{
    cursor:pointer;
    background-color:#E1E1E1;
}

.cStudentClassBarStudentList svg{
    height:1.5vw;
    width:1.5vw;
}

/*Block Liste d'étudiant*/
.cClassStudentListContainerStudentList{
    width:100%;
    display:flex;
    flex-direction: column;
}

/*Un item étudiant*/
.cOneStudentItemStudentList{
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position:relative;
    margin:1vw 0;
}

/*Conteneur de l'image de profil*/
.cImageContainerOneStudentStudentList{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:17px 0 0 17px;
    width:8vw;
    height:8vw;
}

.cImageContainerOneStudentStudentList img{
    height:100%;
}

/*Block d'info de l'étudiant*/
.cInfoStudentStudentList{
    padding:1vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
}

.cOneInfoBlockStudentList p{
    margin:0;
}

.cListInfoOneInfoBlockStudentList p{
    font-size:0.6vw;
    color:#5D5D5D;
}

.cAvailabilityStudentList{
    display:flex;
    flex-direction:row;
    align-items: flex-start;
}

.cAvailabilityDotStudentList{
    width:1.5vw;
    height:1.5vw;
    background-color:#EC4747;
    border-radius:0.75vw;
    margin-left:1vw;
}

@media all and (max-width: 768px) {
    #cGlobalContainerStudentList {
        margin-left: 0;
    }

    #cGlobalContainerStudentList p {
        font-size: 2vw;
    }

    #cGlobalContainerStudentList h1 {
        font-size: 4.6vw;
    }

    #cGlobalContainerStudentList h2 {
        font-size: 3.5vw;
    }

    #cGlobalContainerStudentList h3 {
        font-size: 2.2vw;
    }


    .cSearchBarStudentList svg{
        height:4vw;
        width:4vw;
        margin-right:2vw;
    }

    .cSearchBarStudentList input{
        font-size: 2.2vw;
    }

    .cStudentClassBarStudentList{
        padding:2vw;
    }

    .cStudentClassBarStudentList svg{
        width:4vw;
        height:4vw;
    }

    .cOneStudentItemStudentList{
        flex-direction:column;
    }

    .cImageContainerOneStudentStudentList{
        border-radius:17px 17px 0 0;
        width:100%;
        height:25vw;
    }

    .cImageContainerOneStudentStudentList img{
        width:100%;
        height:auto;
    }

    .cAvailabilityDotStudentList{
        height:3vw;
        width:3vw;
        border-radius:1.5vw;
    }
}
/*--------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------*/
/*------------------           ALL PROJECT              --------------------*/
/*--------------------------------------------------------------------------------*/
#project{
    width: 80%;
    border-radius: 17px;
    border-style: ridge;
    overflow: hidden;
    padding: 0;
}
.infoProject{
    padding-right: 30px;
}
.containerImgProject{
    width: 20%;
    height: 100%;
}
.fontProject{
    font-size: 1vw;
}



/*--------------------------------------------------------------------------------*/

/**************************************************
***************************************************
***************** PROPOSITION PROJET **************
***************************************************
**************************************************/

#mBodyproposerProjet {
    margin: 0 0 0 200px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: #F6F6F6;
    font-family: "Century Gothic";
}

#topCreateDashboard {
    margin-top: 45px;
    display: flex;
    justify-content: center;
}

#topCreateDashboard form {
    margin-right: 85px;
    display: flex;
    flex-direction: column;
}

.mCategorieproposerProjet {
    width: 160px;
    color: #A8A8A8;
    border: none;
    box-shadow: 3px 3px 8px #CCC;
}

.mAffiliationproposerProjet {
    margin-top: 10px;
    width: 160px;
    color: #A8A8A8;
    border: none;
    box-shadow: 3px 3px 8px #CCC;
}

.mNameProjetproposerProjet {
    margin-top: 10px;
    display: flex;
    height: 25px;
    width: 500px;
    color: #A8A8A8;
    border: none;
    box-shadow: 3px 3px 8px #CCC;
    outline-style:none;
}

#midCreateDashboard {
    display: flex;
    justify-content: center;
}

#midCreateDashboard input {
    margin-top: 25px;
    height: 300px;
    width: 1000px;
    background-color: white;
    color: #A8A8A8;
    border: none;
    box-shadow: 3px 3px 8px #CCC;
    border-radius: 12px;
    cursor: pointer;
    border: none !important;
}

#botCreateDashboard {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.mMembersproposerProjet {
    margin-right: 25px;
    height: 120px;
    width: 275px;
    color: #A8A8A8;
    border: none;
    box-shadow: 3px 3px 8px #CCC;
    border-radius: 12px;
}

.mDescriptionproposerProjet {
    height: 120px;
    width: 700px;
    color: #A8A8A8;
    border: none;
    box-shadow: 3px 3px 8px #CCC;
    border-radius: 12px;
    outline-style:none;
}

.mButtonproposerProjet {
    margin-top: 45px;
    height:40px;
    width: 200px;
    background-color: #00b396;
    border: none;
    color: white;
    box-shadow: 3px 3px 8px #CCC;
    border-radius: 25px;
    outline-style:none;
}

.mButtonproposerProjet:hover {
    height:40px;
    width: 200px;
    background-color: #008080;
    border: none;
    color: white;
    box-shadow: 3px 3px 8px #CCC;
    border-radius: 25px;
    outline-style:none;
    transform: translate(1px,1px);
}


/**************************************************
***************************************************
***************** REQUESTS ADMIN ******************
***************************************************
**************************************************/

/* BODY Requests ADMIN */
#jRequestsAdmin
{
    background-color: #f6f6f6;
    color: #858585;
    box-sizing: border-box;
    margin: 0;
    margin-left: 200px;
    padding: 0;
    font-family: "Century Gothic";
}

/* FILTRAGE Requests ADMIN */
#navRequests
{
    display: flex;
    justify-content: center;
    margin-left: 200px;
}

#navRequests button
{
    width: 200px;
    border: none;
    border-radius: 0;
    box-shadow: 5px 0 8px #ccc;
    color: #858585;
    outline-style: none;
}

#navRequests button:hover { background-color: #ca4572; transition: 0.3s; color: white; }

#navRequests button:first-child { border-bottom-left-radius: 10px; } /* Radius gauche sur le premier bouton */
#navRequests button:last-child { border-bottom-right-radius: 10px;	} /* Radius droit sur le dernier bouton */

/* BLOC DE SÉLÉCTION DES Requests */
#flexRequests { margin-top: 80px; }

.blockRequest1, .blockRequest2, .blockRequest3
{
    margin: 30px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    height: 80px;
}

/* Image */
.blockRequest1 div:first-child, .blockRequest2 div:first-child, .blockRequest3 div:first-child { display: flex; align-items: center; }
.blockRequest1 div:first-child img, .blockRequest2 div:first-child img, .blockRequest3 div:first-child img
{
    margin-right: 30px;
    border-radius: 50%;
    box-shadow: 3px 0 8px #ccc;
    width: 75px;
    height: 75px;
}

.blockRequest1 div:nth-child(2), .blockRequest2 div:nth-child(2), .blockRequest3 div:nth-child(2)
{
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 0 8px #ccc;
    padding: 10px 25px;
    position: relative;
    width: 60%;
}

/* Mise en majuscules sur les noms de famille */
.blockRequest1 div:nth-child(2) p span, .blockRequest2 div:nth-child(2) p span, .blockRequest3 div:nth-child(2) p span { text-transform: uppercase; }

.blockRequestDate
{
    display: flex;
    justify-content: center;
    position: relative;
    top: 10px;
    left: -20px;
    padding: 5px;
    width: 115px;
    height: 30px;
    background-color: #00B297;
    border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;
    z-index: -5;
    box-shadow: 3px 3px 8px #ccc;
}

.blockRequestDate p { margin: 0; color: white; }

/* 3 SVG sur la droite du bloc */
.blockResquetSVG3 { display: none; }
.blockRequest1:hover .blockResquetSVG3, .blockRequest2:hover .blockResquetSVG3, .blockRequest3:hover .blockResquetSVG3 { display: initial; }

.blockResquetSVG1 img
{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
    bottom: -13px;
    box-shadow: 3px 0 8px #ccc;
    background-color: #81e569;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
}

.blockResquetSVG2 img
{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 60px;
    bottom: -13px;
    box-shadow: 3px 0 8px #ccc;
    background-color: #ec4747;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
}

.blockResquetSVG3 img
{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 110px;
    bottom: -13px;
    box-shadow: 3px 0 8px #ccc;
    background-color: #00b297;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
}

/**************************************************
***************************************************
******************** HEADER ***********************
***************************************************
**************************************************/

/* Bloc qui contient le header et la nav */
/*#mainHeader
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Century Gothic";
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    box-shadow: 3px 0 8px black;
    background-color: #241e20;
    color: #858585;
}*/

/* Gestion du header */
/*#mainHeader header { padding: 10px; height: 80px; display: flex; background-color: #141414; color: #D1D1D1; }
#mainHeader header img { width: 50px; height: 50px; }
#mainHeader header h1 { margin: 0; padding-left: 18px; font-size: 23px; }
#mainHeader header h1 span { position: relative; left: 20px; font-size: 18px; } /* Décalage de "manager" légèrement sur la droite */

/* Gestion de la nav */
/*#mainHeader nav { padding-top: 20px; }
#mainHeader nav ul { list-style-type: none; padding-left: 0; margin: 0; }
#mainHeader nav ul li { padding: 7px 0 7px 10px; }
#mainHeader nav ul li a { color: #A8A8A8; font-size: 15px; transition: 0.6s; }

/* Animation du menu (nav) */
/*#mainHeader nav ul li
{
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    transition-duration: 0.6s;
}

/*#mainHeader nav ul li:before
{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #c94672;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition-duration: 0.6s;
    transition-timing-function: ease-out;
}
#mainHeader nav ul li a:hover { text-decoration: none; }
#mainHeader nav ul li:hover a { color: #D1D1D1; transition: 0.6s; }
#mainHeader nav ul li:hover:before { transform: scaleX(1); }


/*------------------------------------------------------------------------------------------*/
/*-----------------------------------------LOGIN--------------------------------------------*/
/*------------------------------------------------------------------------------------------*/
body, html {
    height: 100%;
    background-color: #D1D1D1;

}
.fontLogin{
    color: #FFFFFF;
    font-size: 1.50rem;
}
.titleLogin{
    font-size: 2rem; !important;
    text-align: center;

}
.btnLogin {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

.logo {
    width: 15%;
    height: auto;
}


.flexImgLogin{
    width: 100%;

}

#centerImgLogin{
    margin-left: 8%;!important;
    margin-bottom: 5%;!important;
    position: relative;
    top: -40px;
}

.backLogin{
    background-color: #000000;
    margin-top: 5%;
    border-radius: 17px;
}

.formSigninLogin input[type=email],
.formSigninLogin input[type=password],
.formSigninLogin input[type=text],
.formSigninLogin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.btnLogin.btnSigninLogin {
    background-color: #00B297;
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 10px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btnLogin.btnSigninLogin:hover,
.btnLogin.btnSigninLogin:active,
.btnLogin.btnSigninLogin:focus {
    background-color: #CA4572;
}

.formLogin{
    padding-bottom: 10%;!important;
}

/**
  *
  * @ Auteur : Jérémy Nunes <jeremy.nunes@ynov.com>
  * @ Copyright 2017 Jérémy Nunes
  * @ Level : Ingésup B2
  * @ Version : 1.0
  *
  */

/**************************************************
***************************************************
******************** HEADER ***********************
***************************************************
**************************************************/

/*************************************************/
/*  ANNULATION DU CODE PRÉDÉFINIE PAR BOOTSTRAP  */
/*************************************************/

.jLogoHeader { height: 80px !important; } /* Remise à niveau de la hauteur du header */

#menu-icon { margin-top: -20px !important; } /* Position du menu hamburger par rapport au haut de la page */

#menu-icon.active { margin-top: -12px !important; } /* Position de la croix du menu lors de la transformation */

/*************************************************/
/*   	  CODE DE MISE EN FORME DU HEADER        */
/*************************************************/
/* Bloc qui contient le header et la nav */
#menu
{
    box-sizing: border-box;
    overflow: auto;
    margin: 0;
    padding: 0;
    font-family: "Century Gothic";
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    height: 100%;
    box-shadow: 3px 0 8px #888888;
    background-color: #241e20;
    overflow-x: hidden; /* Désactive la barre de scroll horizontal qui apparaît au dezoom */
    z-index: 100; /* z-index sur le header */
}

#menu a { text-decoration: none; } /* Désactive le style des liens de la nav */

#menubar{ display: none; } /* Cache le bouton pour le responsive (Son ordre de disposition est important dans le CSS pour son bon fonctionnement !) */

#menu a .jLogoHeader:hover { color: white; } /*

/* Logo et titre div enfant */
.jLogoHeader
{
    display: flex;
    flex-direction: row;
    padding: 10px;
    height: 60px;
    background-color: #141414;
    color: #D1D1D1;
}

/* Logo */
.jLogoHeader img { width: 50px; height: 50px; }

/* Titre */
.jLogoHeader h1
{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-left: 18px;
    font-size: 23px;
    font-weight: normal;
}

.jLogoHeader h1 span
{
    position: relative;
    left: 20px; /* Décalage de "manager" légèrement sur la droite */
    font-size: 18px;
}

/*******************************************************************/

/* Liste des liens qui compose la nav */
.jListHeader { list-style-type: none; padding-left: 0; padding-top: 20px; margin: 0; }
.jListHeader li { padding: 7px 0 7px 10px; }
.jListHeader li a { color: #A8A8A8; font-size: 15px; transition: 0.6s; }

/* Animation du menu (nav) */
.jListHeader li
{
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0); transform: perspective(1px) translateZ(0);
    transition-duration: 0.6s;
}

.jListHeader li:before
{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #c94672;
    -webkit-transform: scaleX(0); transform: scaleX(0);
    -webkit-transform-origin: 0 50%; transform-origin: 0 50%;
    transition-duration: 0.6s;
    transition-timing-function: ease-out;
}

.jListHeader li a:hover { text-decoration: none;  }
.jListHeader li:hover a { color: white; transition: 0.6s; }
.jListHeader li:hover:before { -webkit-transform: scaleX(1); transform: scaleX(1); }

/*******************************************************************/

/* Responsive // Menu hamburger */
@media all and (min-width: 769px)
{
    #menu { margin-left: 0!important; }							/* Refait apparaître la nav quand on */
    .jMainResponsiveHeader { margin-left: 200px!important; }	/* réagrandit la fenêtre du navigateur */
}

/* Le menu hamburger apparaît */
@media all and (max-width: 768px)
{
    /* Position du menu hamburger */
    #menu-icon
    {
        position:absolute;
        left:0;
        top:50%;
        margin-top: -45px; /* Position du menu hamburger par rapport au haut de la page */
        padding-left: 20px;
        cursor:pointer;
    }

    #menu-icon.active { margin-top: -37px; } /* Position de la croix du menu lors de la transformation */

    /* Gestion de la forme donné au menu hamburger */
    #menu-icon span
    {
        width: 25px;
        margin-bottom: 4px;
        border: 2px solid transparent;
        -moz-border-image: -moz-linear-gradient(top left, #c44973 -10%, #03ad99 150%); /* Border gradient ( ~If~ Compatibilité Mozilla ) */
        -webkit-border-image: -webkit-linear-gradient(top left, #c44973 -10%, #03ad99 150%); /* Border gradient ( ~If~ Compatibilité Chrome, Safari, Android... ) */
        -ms-border-image: -moz-linear-gradient(top left, #c44973 -10%, #03ad99 150%); /* Border gradient ( ~If~ Compatibilité Explorer ) */
        -o-border-image: -moz-linear-gradient(top left, #c44973 -10%, #03ad99 150%); /* Border gradient ( ~If~ Compatibilité Opéra ) */
        border-image: linear-gradient(to bottom right, #c44973 -10%, #03ad99 150%); /* Border gradient */
        border-image-slice: 1; /* Pour afficher le menu hamburger correctement avec le gradient */
        display: block;
        transition: transform .2s; -webkit-transition: transform .2s;
    }

    #menu-icon.active .jFirstStepHeader { transform:rotate(45deg); -webkit-transform:rotate(45deg); margin-top:0px; }
    #menu-icon.active .jSecondStepHeader { transform:rotate(135deg); -webkit-transform:rotate(135deg); position:relative; top:-8px; }
    #menu-icon.active .jThirdStepHeader { display: none; }

    #menubar
    {
        position:fixed;
        height: 70px;
        padding-top: 50px;
        display:block;
        z-index: 100; /* z-index sur le menu hamburger */
    }

    #menu { margin-left: -200px; } /* Camoufle la nav avant le clique sur le menu hamburger */
}
