<!doctype html>

<html>
	<head>
    <title>Page Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{{ asset(css/bootstrap.css) }}">
    <link rel="stylesheet" type="text/css" href="{{ asset(css/global.css) }}">
</head>

<body>
    <div class="container">
        <div class="col">
            <div class="textAlignHome paddingHome">
                <img id="imgHome" src="Img/pp%20link%20cosplay%20blue.png" alt="">
                <p id="userNameHome">Bienvenue Charles HUET</p>
                <p id="selectHome">Pour commencer, sélectionner une option à gauche</p>
            </div>
        </div>
    </div>
</body>
</html>