<!--

@ Auteur : Jérémy Nunes <jeremy.nunes@ynov.com>
@ Copyright 2017 Jérémy Nunes
@ Version : 1.0

-->

	{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.js') }}"></script>
    {% endblock %}

	<body>

            <main id="mainHeader">
                <header>
                    <img src="images/logo_ydays_manager.png" alt="logo Ydays Manager"/>
                    <h1>YDAYS <span>manager</span></h1>
                </header>
                <nav>
                    <ul>
                        <li><a href="#">Mes projets</a></li>
                        <li><a href="#">Tous les projets</a></li>
                        <li><a href="#">Proposer un projet</a></li>
                        <li><a href="#">Les étudiants</a></li>
                        <li><a href="#">Les entreprises</a></li>
                        <li><a href="#">Projets supervisés</a></li>
                        <li><a href="#">Helpers</a></li>
                        <li><a href="#">Demandes</a></li>
                    </ul>
                </nav>
            </main>

	</body>