<!--
  @ Auteur : Charles HUET <charles.huet@ynov.com>
  @ Copyright 2017 Charles HUET
  @ Level : Ingésup B2
  @ Version : 1.0
-->

<!doctype html>

<html>

<head>
    <title>Page Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="cssCustom/styleListEntreprises.css">
</head>

<body id="cBodyListEntreprises">
    <a id="cLinkListEntreprises" href="#">
        <div id="cListentrepriseProject" class=" d-flex flex-row">
            <img class="img-fluid h-100" src="Img/sogeti.png" alt="">
            <div id="ctitleDescListentreprise" class="text-left col-xs-7 col-md-6 col-sm-7 col-lg-7 d-flex flex-column">

                <h5 class="cH5ListEntreprises">Sogeti</h5>

                <p class="cFontListentreprise">Qui sommes nous ? Nous gérons la transformation numérique de votre entreprise.</p>
            </div>
            <div class="col-xs-3 col-md-4 col-sm-3 col-lg-3 d-flex flex-column cInfoListentreprise ">
                <p class="cFontListentreprise">16 Mail Pablo Picasso</p>
                <p class="cFontListentreprise">44000 Nantes</p> 
                <p class="cFontListentreprise">Siret : 47994258300069</p>
                
            </div>
        </div>
    </a>

    
</body>

</html>
